<ul>    
        {{# if Mascotas }}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Objeto</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>

        {{#each Mascotas}}
            <tbody>
              <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
            </tbody>
            {{/each}}  
          </table>
          {{else}}
          <h2>No hay productos</h1>      
        {{/if}}
</ul>
