<!DOCTYPE html>
<html lang="es">
<head>
    {{>head}}
</head>
<body class="container">
    <header>
        {{>header}}
    </header>
    
    <main>
        <center>
        <div class="jumbotron">
            <h1>Añadir producto</h1>
            <h5>Completar para añadir producto</h5>
                <form action="/" method="post">
                <label>Producto:</label>
                <input type="text" name="title" id="object_searched" />
                <br/>
                <br/>
                <label>Precio:</label>
                <input type="text" name="price" id="price_searched" />
                
                
                <br/>
                <input  type="submit" value="Submit" id="submite" />
              </form>
            
       
                <div class="jumbotron">
            <h1>Todos los productos almacenados</h1>
            {{>list}}

         <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                
              </tr>
            </thead>

            <div id="tabla"></div>
            <tbody>
              <tr>
                <th scope="row">
                  <div id="id"></div>
                </th>
                  
                 <th> <div id="object"></div> </th>
                 <th> <div id="price"></div> </th>
              </tr>
            </tbody>
            
          </table>
            
          </div>
         </center>
    </main>

    <footer>
       {{>footer}}
    </footer>
</body>
</html>